.App {
  max-width: 800px;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}
.centered {
  align-items: center;
  justify-content: center;
}

.link-pic {
  height: 150px;
}

body {
  background-color: #bce0f5;
  background-image: url("https://i.imgur.com/CJmPnX6.png");
  background-repeat: repeat;
  background-size: contain;
  animation-name: scroll;
  background-position: 0px 0px;
  animation: scroll 120s linear infinite;
}

@keyframes scroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.icons {
  max-width: 25px;
}
.badges {
  max-width: 50px;
  max-height: 50px;
}

.grid {
  display: grid;
  grid-template-columns: 21% 77%;
  grid-column-gap: 2%;
  margin: 0;
}

header {
  background-color: rgba(231, 225, 225, 0.1);
  background-size: cover;
  box-shadow: 0px 0px 5px whitesmoke;
  margin: 5px 0;
}
h1 {
  padding: 0;
  margin-bottom: 2px;
}

.mini {
  font-size: xx-small;
}

.nav {
  padding: 4px;
}

.nav-link {
  height: 25px;
}

.project-links {
  grid-column: 1;
  background-color: rgba(231, 225, 225, 0.5);
  box-shadow: 0px 0px 5px whitesmoke;
}

.project-links:hover {
  box-shadow: 0px 0px 10px whitesmoke;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(24, 2, 85);
}
a:hover {
  color: rgb(247, 104, 89);
}

.viewer {
  grid-column: 2;
  background-color: rgba(231, 225, 225, 0.7);
  min-height: 500px;
  box-shadow: 0px 0px 5px whitesmoke;
}
.viewer:hover {
  /* outline: none; */
  box-shadow: 0px 0px 10px whitesmoke;
}

.footer {
  background-color: rgba(231, 225, 225, 0.7);
  justify-content: space-around;
  box-shadow: 0px 0px 5px whitesmoke;
  margin: 5px 0;
}

.me-pic {
  max-width: 300px;
  float: left;
  padding-right: 5px;
}

.content {
  padding: 5px;
  text-align: left;
}

h3 {
  margin: 2px;
}

.scales {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-gap: 5px;
  max-width: 200px;
  outline: 1px solid rgb(66, 53, 53);
  padding: 2px;
  margin: 5px;
}

.scale-results {
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
}

.music-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 5px;
  max-width: 400px;
  margin: 0 auto;
}

.underline {
  text-decoration: underline;
}

.space {
  justify-content: space-around;
  width: 100%;
}

.link-container {
  width: 200px;
  height: 50px;
}

.project-page-links {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .scale-results {
    flex-direction: column;
  }
  .grid {
    grid-template-columns: 0 100%;
  }
  .project-links {
    visibility: hidden;
  }
}
