.App {
  min-height: 100%;
  text-align: center;
  justify-content: center;
  /* align-items: stretch; */
}

.container {
  align-content: space-between;
  flex: 1 0 auto;
}

.article {
  max-width: 800px;
  height: 85vh;
}

.footer {
  display: inline-block;
  background-color: rgba(231, 225, 225, 0.7);
  justify-content: space-around;
  box-shadow: 0px 0px 5px whitesmoke;
  margin-top: auto;
  padding: 1px;
  flex-shrink: 0;
}

.footer p {
  margin: 1px;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}
.centered {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.link-pic {
  height: 150px;
}

body {
  background-color: #bce0f5;
  background-image: url("https://i.imgur.com/CJmPnX6.png");
  background-repeat: repeat;
  background-size: contain;
  animation-name: scroll;
  background-position: 0px 0px;
  animation: scroll 120s linear infinite;
}

@keyframes scroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.icons {
  max-width: 25px;
}
.badges {
  max-width: 50px;
  max-height: 50px;
}

header {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 5px 0;
}

header a:hover {
  color: black;
}
h1 {
  padding: 0;
  margin: 4px;
}

.mini {
  font-size: xx-small;
}

.nav {
  padding: 4px;
  width: 100%;
  border-top: 1px solid rgb(55, 55, 55);
  border-bottom: 1px solid rgb(55, 55, 55);
  justify-content: space-evenly;
}

.nav-link {
  height: 25px;
  padding: 0 15px;
}

.active {
  background-color: whitesmoke;
  border-radius: 35%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(24, 2, 85);
}
a:hover {
  color: rgb(247, 104, 89);
}

.me-pic {
  max-width: 300px;
  float: left;
  padding-right: 5px;
}

.attention {
  color: crimson;
  font-size: large;
}

h3 {
  margin: 2px;
}

.space {
  justify-content: space-around;
  width: 100%;
}

.content {
  padding: 5px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

.link-container {
  width: 200px;
  height: 50px;
}

.project-page-links {
  padding: 0;
  margin: 0;
}

.projects {
  width: 100%;
  height: 100%;
}

.projects-container {
  height: 85vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.full-width {
  width: 100%;
}
